.nav {
    padding:15px;
    display: flex;
    justify-content: space-between;
    line-height: 2px;
    background-color: #2a59fe;
    color:#fbfbfb;
}


.nav .left {
    display: flex;
}

.nav .left .menu {
    display: flec;
    margin-left: 40px;
}

.nav .left .input {
    color:black;

}
